<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWC Casino Night</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/Images/favicon.ico">
</head>
<body>
    <header><h1><strong><i><u>Association for Women in Computing</u></i></strong></h1></header>
    <!-- have awc pic on this landing page -->
    <img src="/Images/casino night invitation.png" alt="Casino Night landing page image" width="1200px">
    
    <!-- have link to awc website towards bottom (maybe logo image and that can redirect to webpage) -->

    
    <br><br>
    
    <br><br>
    <div class="description">
        <h3> You've been invited... </h3>
            <!-- fix later with more accurate details -->
        <p>
        Casino Night is a department-wide formal for computing majors (and their friends of any major or gender) hosted by the Association for Women in Computing (AWC). 
        This event will be held on the ground floor of the Brendan Iribe Center for Computer Science and Engineering on April 20st, 2023 at 6-9pm. 
        We have casino games dealt by your favorite computing faculty, opportunities to network with our corporate sponsors, dinner, raffle prizes, and more! 
        Casino Night was created seven years ago as a way for computing student to mingle with each other and sponsors. After a few years of hiatus we are bringing back this tried-and-true AWC tradition. 
        To honor the 7th year of Casino Night, our theme is Ocean's 8, inspired by Ocean's Eleven cinematography and the Met Gala. 
        We hope to see you there!
        </p>
    </div>

    <form action="">
        To register for casino night select <a href="/RSVPform">RSVP Form</a>
        <!-- <input type="submit" id="rsvp" value="RSVP Form"> -->
    </form>
    
    <br><br>
    
    <!-- mini photo gallery of 2022 casino night -->
    <img src="/Images/photo gallery.png" alt="2022 casino night pictures" width="2000px">
    
    
    
    <hr>

    <a href="https://awc-umd.github.io/"><strong>AWC Website</strong></a>    

</body>
</html>
