html{
    font-size: 20px;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: "Garamond", Garamond, serif;
    color: #999dbd;
}

h1 {
    font-size: 15px;
    color: white;
}

/* main body style */
body {
    background-color: black;
    padding: 30px;
    margin: auto;
    text-align: center;
}

/* description style */
.description {
    color: white;
    margin: 20px;
    padding: 20px;
    text-align: justify;
}

/* image */
img {
    object-fit: cover;
}


h3 {
    text-align: center;
    color: white;
}


/* RSVP Link */
/* unvisited link */
a:link {
  color: gold;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: hotpink;
}
