html{
    font-size: 30px;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: "Garamond", Garamond, serif;
    color: #999dbd;
}

h1 {
    font-size: 15px;
    color: white;
}

/* main body style */
body {
    background-color: black;
    /* padding: 30px */
    margin: 0;
    text-align: center;
}

/* description style */
.description {
    color: white;
    margin: 20px;
    padding: 20px;
    text-align: justify;
}

/* image */
.gallery {
    background-image: url("/Images/Casino Night Landing-2.png");
    background-image: url("/Images/PhotoGallery.jpg");
    background-color: #cccccc;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.landingPage {
    background-image: url("/Images/Casino Night Landing-2.png");
    background-color: #cccccc;
    height: 800px;
    wdith: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h3 {
    text-align: center;
    color: white;
}

p {
    padding: 30px;
}


/* RSVP Link */
/* unvisited link */
a:link {
  color: gold;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: hotpink;
}
